*{
	background-repeat:no-repeat;
	font-family:Helvetica Nueu;
}
html, body{
	height:100%;
	margin:0;
}
#container{
	min-height: 100%;
	background-color:white;
}
#top-bar{
	position:relative;
	float:right;
	height:50px;
	width:250px;
}
#sign-in{
	background-color: #0080ff;
	border: none;
 	color: white;
 	padding: 8px 15.5px;
 	text-align: center;
 	float:right;
 	margin-top:4.5%;
 	margin-right:1%;
 }
 .margin{
 	font-size:15px;
	color:#666666;
	margin:6px;
 }
#nein{
	float:right;
	margin-top:7%;
}
#images{
	float:right;
	margin-top:7%;
}
#gmail{
	float:right;
	margin-top:7%;
}
#logo{
	position:relative;
	margin:auto;
	top:130px;
	width:600px;
	text-align:center;
	border:3px solid white;
}
.logo{
	text-align:center;
	display:inline;
	font-size:150px;
}
#g{
	color:blue;
}
#o1{
	color:red;
}
#o2{
	color:yellow;
}
#g2{
	color:blue;
}
#l{
	color:green;
}
#e{
	color:red;
}
#search-bar{
	position:relative;
	text-align:center;
	margin:auto;
	top:170px;
	height:200px;
	width:600px;
	border:3px solid white;
}
#search{
	font-size:15px;
}
#sg{
	background-color: #ffffff;
	border: outset white;
 	color: #666666;
 	padding: 8px 15.5px;
 	text-align: center;
 	margin-top:4.5%;
 	margin-right:1%;
}
#ifl{
	background-color: #ffffff;
	border: outset white;
 	color: #666666;
 	padding: 8px 15.5px;
 	text-align: center;
 	margin-top:4.5%;
 	margin-right:1%;
}
.bottom-text{
	font-size:15px;
	color:#666666;
	margin:10px;
}
#advertizing{
	position:relative;
	float:left;
	margin-top:31%;
}
#business{
	position:relative;
	float:left;
	margin-top:31%;
}
#about{
	position:relative;
	float:left;
	margin-top:31%;
}
#privacy{
	position:relative;
	float:right;
	margin-top:31%;
}
#terms{
	position:relative;
	float:right;
	margin-top:31%;
}
#settings{
	position:relative;
	float:right;
	margin-top:31%;
}